</main>
    <footer>
        <h6>{{ .Site.Copyright | markdownify }}
            <a href="{{.Site.BaseURL}}index.xml">{{ T "subscribe" }} MuséeBlog 
            </a></h6>
    </footer>
</div>

<script src="https://unpkg.com/swup@2.0.8/dist/swup.min.js"></script>
<script src="https://unpkg.com/@swup/scroll-plugin@1.0.6/dist/SwupScrollPlugin.min.js"></script>
<script>
	const options = {
		animateHistoryBrowsing: true,
		linkSelector:
    		'a[href^="' +
    		window.location.origin +
    		'"]:not([data-no-swup]), a[href^="/"]:not([data-no-swup]), a[href^="#:"]:not([data-no-swup])',
		plugins: [new SwupScrollPlugin({
					animateScroll: true,
					doScrollingRightAway: false,
					scrollFriction: 0.3,
					scrollAcceleration: 0.03,
			  		})]
		};
	const swup = new Swup(options);
</script>

</body>

</html>
