<link rel="stylesheet" href="https://unpkg.com/line-awesome@1.2.1/dist/line-awesome/css/line-awesome.min.css">
	
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Alegreya|Josefin+Sans" />

<link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css" />

<link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | relURL}}" />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fea49b">
<meta name="msapplication-TileColor" content="#fea49b">
<meta name="theme-color" content="#ffd3cf">

