{{ partial "share-buttons.html" . }}

<section class="post-nav">
    <ul>
        {{ with .NextInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="las la-chevron-left la-lg"></i></a>
        </li>
        {{ end }}
        <li>
            <a href="{{.Site.BaseURL}}"><i class="las la-home la-lg"></i></a>
        </li>
        {{ with .PrevInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="las la-chevron-right la-lg"></i></a>
        </li>
        {{ end }}
    </ul>
</section>
 <!--   {{ if .Site.DisqusShortname }}
        {{ partial "disqus" . }}
    {{ end }}  -->