{{ define "main" }}

<section id="home">
  <ul>
    <li>
          {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
{{ range $paginator.Pages }}
            <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
            {{ if .Params.img }}
            <img src="{{ .Site.BaseURL }}/{{ .Params.img }}" alt="{{ .Title }}"><img/>
            {{ end }}
            {{ if .Params.src }}
            <img src="{{ .Params.src }}" alt="{{ .Title }}"><img/>
            {{ end }}
            {{ partial "aside" . }}
            <p>{{ .Summary }}</p>
            {{ if .Truncated }}
            <a href="{{ .RelPermalink }}" ><i>{{ T "readMore" }}</i></a>
            {{ end }}
        {{ end }}
    </li>
  </ul>

</section>
{{ partial "paginat" . }}
{{ end }}
